#dialog_window {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    background: white;
    padding: 10px;
    border: 5px inset purple;
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    visibility: hidden;
}

.button {
    user-select: none;
}

#calendar {
    position: relative;
    background: #673ab7;
    height: 425px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px;
    border: 5px inset purple;
}

.top_block {
    display: flex;
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}

.main {
    display: flex;
    background: #e6d8ff;
    justify-content: center;
    border: 4px ridge #5118b7;
    font-size: 30px;
    flex: 5;
    margin-left: 50px;
    margin-right: 50px;
    color: #5118b7;
    user-select: none;
}

.arrow {
    display: flex;
    background: #e6d8ff;
    justify-content: center;
    border: 4px ridge #5118b7;
    font-size: 30px;
    flex: 1;
    color: #5118b7;
    user-select: none;
}

.week {
    background: white;
    display: flex;
    width: 100%;
}

.week:first-child {
    margin-top: 10px;
}

#column {
    background: #673ab7;
}

.day {
    background: white;
    flex: 1;
    margin: 3px;
    border: 2px solid #5118b7;
    text-align: center;
    height: 34px;
    font-size: 30px;
    user-select: none;
}

.day_week {
    background: #5118b7;
    flex: 1;
    margin: 3px;
    border: 3px groove #e6d8ff;
    text-align: center;
    color: white;
    font-size: 30px;
    height: 34px;
    user-select: none;
}

.current_days {
    color: #5118b7;
}

.other_days {
    color: #5118b785;
}

.today {
    background: yellow;
}

.active {
    border: 2px solid greenyellow;
}